<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/about.png);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>GoTrain</h2>
				   					<h1>Giới thiệu</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div id="colorlib-about">
			<div class="container">
				<div class="row">
					<div class="about-flex">
						<div class="col-one-forth aside-stretch animate-box">
							<div class="row">
								<div class="col-md-12 about">
									<h2>Giới thiệu</h2>

									<ul>
										<li><a href="#History">Lịch sử phát triển</a></li>
										<li><a href="#staff">Đội ngũ nhân viên</a></li>
										<li><a href="#opportunity">Cơ hội nghề nghiệp</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-three-forth animate-box">
							<a name="History"></a>
							<h2>Lịch sử phát triển</h2>
							<div class="row">
								<div class="col-md-12">
									<p>Tổng Công ty Đường sắt Việt Nam được thành lập theo Quyết định số 34/2003/QĐ-TTg ngày 4 tháng 3 năm 3 năm 2003 của Thủ tướng Chính phủ trên cơ sở tổ chức lại Liên hiệp Đường sắt Việt Nam.</p>

										<div class="col-md-6">
											<img class="img-responsive" src="images/hotel-7.jpg" alt="">
										</div>
										<div class="col-md-6">
											
									<p>Ngày 25 tháng 6 năm 2010, Thủ tướng Chính phủ ban hành Quyết định số 973/QĐ-TTg về việc chuyển Công ty mẹ- Tổng công ty Đường sắt Việt Nam thành Công ty TNHH Một thành viên thuộc sở hữu Nhà nước.</p>

									<p>Ngày 21 tháng 1 năm 2013, Thủ tướng Chính phủ ban hành Quyết định số 198/QĐ-TTg phê duyệt Đề án tái cơ cấu Tổng công ty Đường sắt Việt Nam giai đoạn</p>
										</div>
										<p> 2012 - 2015 theo đề nghị của Bộ trưởng Bộ Giao thông vận tải và Hội đồng thành viên Tổng công ty Đường sắt Việt Nam.</p>
									</div>
								</div>

							<a name="staff"></a>
							<h2>Đội ngũ nhân viên</h2>
							<div class="row">
								<div class="col-md-12">
									<p>Đội ngũ nhân viên được đào tạo bài bản, chuyên nghiệp từ các trường đại học chuyên biệt cho ngành đường sắt như:</p>

									<ul>
										<li>Trường Cao đẳng Nghề Đường sắt</li>
										<li>Trung tâm Y tế Đường sắt</li>
										<li>Trung tâm Ứng phó Sự cố thiên tai và cứu nạn đường sắt Việt Nam</li>
									</ul>
									</div>
								</div>

							<a name="opportunity"></a>
							<h2>Cơ hội nghề nghiệp</h2>
							<div class="row">
								<div class="col-md-12">
									<p>Ngày nay, nhu cầu di chuyển an toàn ở Việt Nam ngày một cao và đường sắt là một trong những phương tiện an toàn được quan tâm hàng đầu, do đó việc đào tạo và tuyển dụng nhân viên ngành đường sắt đạt chuẩn là vô cùng quan trọng.</p>

									<p>Cùng với chế độ đãi ngộ, lương, thưởng tốt, chúng tôi tự tin ngành đường sắt sẽ là một trong những ngành có tương lai sáng trong nhiều năm tới. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>