<div style="height:100px; background:cadetblue"/>
<br/>
<br/>
<br/>
<br/>
<div class="col-md-2">
</div>
<div class="col-md-8">
    <br/>
    <div><b>Chọn toa</b></div>
    <br/>
        {{#each Toa}}
        <div class="col-md-3">
            <a href="position?MaToa={{MaToa}}">
            <img src="/images/carrige.png">
            </a>
            <div>{{TenToa}}</div>
        </div>
        {{/each}}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<div class="col-md-2">
</div>