<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/h1.png);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>GoTrain</h2>
				   					<h1>Lưu trữ, quản lý vé</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

        <div class= "container">

		<div class="row">
                <div class="col-xs-12">
                <br>
                 <div class="alert alert-danger">Giỏ vé không có vé. Vui lòng thực hiện lại.</div>
                </div>
         </div>
          <div class="row"> 
                    <div class="col-xs-3">
                    </div>
                    <button class="col-xs-6">     
                    <h4 class="lbl-shopping-cart lbl-shopping-cart-gio-hang">GIỎ VÉ<span>(0 sản phẩm)</span></h4>
                    <div class="empty-cart">
                        <img src="https://vcdn.tikicdn.com/assets/img/cart-empty.png" alt="Không có sản phẩm nào trong giỏ vé của bạn.">

                        <p class="message">Không có vé nào trong giỏ vé của bạn.</p>
                        <a href="/" type="submit" name="submit" class="btn btn-primary btn-block">
                        <i class="icon icon-cart"></i>Tiếp tục mua sắm</a>
                    </div>
                  <br> 
                  </button>
                  <div class="col-xs-3">
                  </div>
                 
         </div>
            <br>
        </div>
