<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/img_bg_1.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h2>Đồng hành cùng bạn</h2>
										<h1>Trên mọi nẻo đường</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/img_bg_2.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h2>Chỉ hơn 1 ngày</h2>
										<h1>Đi nửa vòng Tổ quốc</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/img_bg_5.jpg);">
						<div class="overlay"></div>
						<div class="container-fluids">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h2</h2>
										<h1>Khám phá thiên nhiên trong suốt hành trình</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/img_bg_4.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
									<div class="slider-text-inner text-center">
										<h2>Trải nghiệm</h2>
										<h1>Dịch vụ cao cấp</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div id="colorlib-reservation">
			<!-- <div class="container"> -->
			<div class="row">
				<div class="search-wrap">
					<div class="tab-content">
						<div id="flight" class="tab-pane fade in active">
							<form method="post" class="colorlib-form">
								<div class="row">
									<div class="col-md-2">
										<div class="form-group">
											<label for="date">Ga Đi:</label>
											<div class="form-field">
												<input type="text" id="location" class="form-control" placeholder="Ga Đi" name="GaDi">
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="date">Ga Đến:</label>
											<div class="form-field">
												<input type="text" id="location" class="form-control" placeholder="Ga Đến" name="GaDen">
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="guests">Chiều Đi</label>
											<div class="form-field">
												<i class="icon icon-arrow-down3"></i>
												<select name="people" id="people" class="form-control">
													<option value="#">Một Chiều</option>
													<option value="#">Khứ Hồi</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="date">Ngày Đi:</label>
											<div class="form-field">
												<i class="icon icon-calendar2"></i>
												<input type="text" id="date" class="form-control date" placeholder="Ngày Đi" name="NgayDi">
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="date">Ngày Về:</label>
											<div class="form-field">
												<i class="icon icon-calendar2"></i>
												<input type="text" id="date" class="form-control date" placeholder="Ngày Về" name="NgayVe">
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<input type="submit" name="submit" id="submit" value="Tìm Vé" class="btn btn-primary btn-block">
									</div>



									<div class="col-md-1">
									      <a href="giohang" type="submit" name="submit" class="btn btn-primary btn-block">
									      <i class="icon icon-cart"></i>Giỏ vé</a>
									</div>



								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{{#if invalid}}
			<div class="row">
			<div class="alert alert-danger">
			    <div class="alert alert-danger m-b-36 col-md-12" role="alert">
			    	Chuyến tàu bạn tìm không tồn tại
					</div>
			</div>
			</div>
			{{/if}}
			
		</div>
	</div>

	<div id="colorlib-intro" class="intro-img" style="background-image: url(images/cover-img-1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="intro-desc">
						<div class="text-salebox">
							<div class="text-lefts">
								<div class="sale-box">
									<div class="sale-box-top">
										<h2 class="number">-10</h2>
										<span class="sup-1">%</span>
									</div>
									<h2 class="text-sale">Giảm Gía</h2>
								</div>
							</div>
							<div class="text-rights">
								<h3 class="title">GIÁ RẺ CHÀO HÈ!</h3>
								<p>Giảm ngay 10% giá trị vé cho hành khách mua vé online qua Go Train.
								</p>
								<p>Áp dụng từ ngày [1/7/2018 - 2/9/2018]. </p>
								<p>
									<a href="#" class="btn btn-primary">Đặt Ngay</a>
									<a href="#" class="btn btn-primary btn-outline">Chi tiết</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="video-wrap">
						<div class="video colorlib-video" style="background-image: url(images/img_bg_2.jpg);">
							<a href="https://www.youtube.com/watch?v=_xT0ZmSGwHE" class="popup-vimeo">
								<i class="icon-video"></i>
							</a>
							<div class="video-overlay"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="colorlib-hotel">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
					<h2>Dịch Vụ Chất Lượng 5 Sao</h2>
					<p>Tổng Công Ty Đường Sắt Việt Nam tự hào đem đến cho quý hành khách những dịch vụ chất lượng tiêu chuẩn.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 animate-box">
					<div class="owl-carousel">
						<div class="item">
							<div class="hotel-entry">
								<a href="hotels.html" class="hotel-img" style="background-image: url(images/hotel-1.jpg);">
								</a>
								<div class="desc">
									<p class="star">
										<span>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
										</span></p>
									<h3>
										GHẾ NGỒI
									</h3>
									<p>Ghế ngồi êm ái, có thể tùy chỉnh mức độ ngả về sau cảu ghế.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hotel-entry">
								<a href="hotels.html" class="hotel-img" style="background-image: url(images/hotel-2.jpg);">
								</a>
								<div class="desc">
									<p class="star">
										<span>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
										</span></p>
									<h3>
										TOA TÀU
									</h3>
									<p>Trang bị điều hòa và Wifi trên khắp các toa của đoàn tàu. Chỗ để đồ rộng rãi, chắc chắn. Tạo cảm giác thoải mái như đang ở nhà.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hotel-entry">
								<a href="hotels.html" class="hotel-img" style="background-image: url(images/hotel-3.jpg);">
								</a>
								<div class="desc">
									<p class="star">
										<span>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
										</span></p>
									<h3>
										NHÂN VIÊN
									</h3>
									<p>Đội ngũ nhân viên chuyên nghiệp, thân thiện, sẵn sàng đáp ứng mọi nhu cầu của hành khách.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="hotel-entry">
								<a href="hotels.html" class="hotel-img" style="background-image: url(images/hotel-4.jpg);">
								</a>
								<div class="desc">
									<p class="star">
										<span>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
											<i class="icon-star-full"></i>
										</span></p>
									<h3>
										ĐOÀN TÀU
									</h3>
									<p>Tàu chạy êm ái, trang bị kính cách âm chống ồn.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="colorlib-testimony" class="colorlib-light-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
					<h2>Nhận Xét Từ Khách Hàng</h2>
					<p>Đây là những nhận xét của khách hàng sau khi sử dụng dịch vụ đặt vé online Go Train.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 animate-box">
					<div class="owl-carousel2">
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person1.jpg);"></span>
								<span class="user">Alysha Myers</span>
								<small>Hà Nội, Việt Nam</small>
								<blockquote>
									<p>" Đặt vé nhanh, thanh toán tiện lợi ".</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person2.jpg);"></span>
								<span class="user">James Fisher</span>
								<small>TP. HCM, Việt Nam</small>
								<blockquote>
									<p>" Quyết định đặt vé online quả là lựa chọn sáng suốt ".</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony text-center">
								<span class="img-user" style="background-image: url(images/person3.jpg);"></span>
								<span class="user">Jacob Webb</span>
								<small>Huế, Việt Nam</small>
								<blockquote>
									<p>" Lần đầu đặt vé online nhưng thấy rất dễ sử dụng, hy vọng ứng dụng này phát triển hơn nữa trong tương lai ".</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>