<div style="height:100px; background:cadetblue"/>
<br/>
<br/>
<br/>
<br/>
<div class="col-md-2">
</div>
<div class="col-md-8">
    <br/>
    <div><b>Chọn cho ngoi</b></div>
    <br/>
        {{#each Ghe}}
        <div class="col-md-3">
            <a href="information?Ghe={{MaGhe}}">
                <img src="/images/position.png">
            </a>
            <div>{{TenGhe}}</div>
        </div>
        {{/each}}
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<div class="col-md-2">
</div>