<div style="height:100px; background:cadetblue" />
<br/>
<br/>
<br/>
<br/>
<div class="col-md-2">
</div>
<div class="col-md-8">
    <br/>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thành công!</h4>
        <p>Quý khách đã đặt vé tàu thành công. Để xác nhận đặt vé và tiến hành thanh toán, quý khách vui lòng mang theo đến ga tàu và liên hệ nhân viên bán vé để thanh toán.</p>
        <hr>
        <p>Mã phiếu đặt vé: <b>{{MaPhieu}}</b></p>
        <p>Giá vé: <b>{{number_format GiaVe}}</b></p>
        <hr>
        <p class="mb-0">Xin chân thành cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi!</p>
    </div>
    <div class="col-md-12">
        <a href="/" style="text-align:center">&larr; Trở về trang chủ</a>
    </div>
    <br/>
    <br/>
</div>
<div class="col-md-2">
</div>