{{#if valid}}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Vé hợp lệ.
</div>
{{/if}}

{{#if invalid}}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Vé không hợp lệ.
</div>
{{/if}}

<aside id="colorlib-hero">
      <div class="flexslider">
        <ul class="slides">
          <li style="background-image: url(images/cover-img-5.jpg);">
            <div class="overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                  <div class="slider-text-inner text-center">

                    <h1>Kiểm tra vé</h1>
                    
                    <h2>Đảm bảo quyền lợi</h2>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </li>
          </ul>
        </div>
    </aside>

    <div class="container" >

        <div class="row">
            <div class="col-md-12">
            <br>
            <br>
                <h3 class="ng-binding">Kiểm tra vé<!--Ki?m tra vé--></h3>
                <div class="alert alert-info">
                    <div ng-bind-html="'PKTraVe_MoTa'|translate" class="ng-binding">Theo quy định của Tổng công ty Ðường sắt Viêt Nam, hành khách có thông tin giấy tờ tùy thân trùng với thông tin trên vé điện tử mới đủ điều kiện vào ga lên tàu.<br>Ðể đảm bảo quyền lợi cho hành khách, tránh mua phải vé gỉa, hoặc vé không đúng với quy định, quý khách có thể kiểm tra lại vé điện tử của mình bằng cách điền đầy đủ các thông tin dưới dây.</div>
                </div>
                
            </div>
        </div>
    <form method="POST">
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-1">
                <label class="mave">Mã vé<!--Mã vé--></label>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                <div class="">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchData.maVe" ng-disabled="isRequesting" ng-change="maVeError = false" placeholder="Nhập mã vé bao gồm 8 ký tự số" id="maVe" name="MaVe">
                </div>
            </div>
            <div class = "col-md-2"></div>
            <div class="col-xs-4 col-sm-2 col-md-1">
                <label class="kt-form-label ng-binding" ng-class="{'has-error': macTauError}">Mã tàu<!--Mác tàu--></label>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                <div class="form-group" ng-class="{'has-error': macTauError}">
                    
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchData.macTau" ng-change="macTauError = false" placeholder="Ví dụ SE1, TN1, SE2, SE6 ..." id="gaDen" name="MacTau">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-1">
                <label class="kt-form-label ng-binding" ng-class="{'has-error': gaDenError}">Ga đến<!--Ga d?n--></label>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                <div class="form-group" ng-class="{'has-error': gaDenError}">
                    
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchData.tenGaDen" ng-change="verifyGa(searchData.tenGaDen, false)" typeahead-on-select="setMaGaDen($item)" typeahead="ga.TenGa for ga in gas | filter:$viewValue | limitTo:10" placeholder="Nhập mã ga đến tại đây" id="gaDen" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-04I-5582" name="GaDen">
                </div>
            </div>
            <div class = "col-md-2"></div>
            <div class="col-xs-4 col-sm-2 col-md-1">
                <label class="" >Ngày đi</label>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                            <div class="form-field">
                        <input type="text" id="date" class="form-control date" data-date-format="dd/mm/yyyy" placeholder="Ngày Ði" name="NgayDi">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-1">
                <label class="kt-form-label ng-binding" ng-class="{'has-error': gaDiError}">Ga đi<!--Ga di--></label>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                <div class="form-group" ng-class="{'has-error': gaDiError}">
                    
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchData.tenGaDi" ng-change="verifyGa(searchData.tenGaDi, true)" typeahead-on-select="setMaGaDi($item)" typeahead="ga.TenGa for ga in gas | filter:$viewValue | limitTo:10" placeholder="Nhập mã ga đi tại đây" id="gaDi" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-04K-849" name="GaDi">
                </div>
            </div>
            <div class = "col-md-2"></div>
            <div class="col-xs-4 col-sm-2 col-md-1">
                <label class="kt-form-label ng-binding">Số giấy tờ<!--S? gi?y t?--></label>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4">
                <div class="form-group">
                    <!--<span class="control-label" ng-show="cmtError">Vui lòng nhập số giấy tờ cá nhân ghi trên vé</span>-->
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchData.cmt" ng-change="cmtError=false" placeholder="Nhập giấy tờ cá nhân ghi trên vé" name="GiayTo">
                </div>
            </div>
        </div>
    
        <div class = "col-md-2">
            <button type="submit" class="btn btn-warning">Kiểm tra vé</button>
        </div>

    </form>
  
    </div>

            <br>
<br>
